.banner-iner {
  min-height: 230px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -40px;
}

#banner {
  position: relative;
  z-index: 1;
}

/*.banner-contents-inner {
  display: flex;
  align-items: center;
}*/
/*.banner-content-image {
  margin-bottom: 40px;
  width: 45%;
  margin-top: -55px;
}*/
/*.banner-contents {
  width: 55%;
  margin-top: -140px;
}*/
.banner-content-image img {
  width: 100%;
}

.banner-bottom-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 150px;
}

.blue-round {
  background: linear-gradient(90deg, rgba(47,36,131,1) 0%, rgba(32,27,66,1) 100%);
  border-bottom: 10px solid #2f2483;
  border-top: 10px solid #201b42;
}

/*.banner-contents-bottom {
  margin-left: -18px;
}*/

.jobseekers-title, .jobseeker-image {
  max-width: 300px;
}

/*.work-inner {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
}*/




/*@media(max-width: 991px){
  .work-inner {
    display: inherit;
    margin-top:0;
  }
  .banner-contents-bottom{
      margin-left: 0px;
  }
}*/

/*@media(max-width: 767px){
  .banner-contents-inner{
    display: block;
  }
  .banner-content-image {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }
  .banner-contents {
    width: 100%;
    margin-top: 0px;
  }
  .banner-contents-bottom{
    margin-left: 0px;
  }
}*/
